<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.pig.cms.mapper.CmsArticleMapper">

	<sql id="cmsCmsArticleColumns">
		id,color,content,createdate,description,hits,htmlid,image,isword,keywords,title,weight,category_id,delflag,updatedate,createby_id,updateby_id
	</sql>

</mapper>
